# ─── PostgreSQL ───
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=aiflow_db
POSTGRES_HOST=aiflow_postgres
POSTGRES_PORT=5432

# ─── RabbitMQ ───
RABBITMQ_HOST=aiflow_rabbitmq

# ─── Service Ports ───
API_PORT=3000
TASK_SERVICE_PORT=3001
REALTIME_PORT=4000

# ─── Redis ───
REDIS_URL=redis://aiflow_redis:6379

# ─── External AI APIs ───
HUGGINGFACE_API_KEY=YOUR_HUGGINGFACE_API_KEY
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# ─── MinIO ───
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ROOT_USER= ROOT_USER  
MINIO_ROOT_PASSWORD= ROOT_PASSWORD
MINIO_BUCKET=uploads
MINIO_SERVER_URL=SERVER_URL

# ─── Cloudflare ───

CLOUDFLARE_TUNNEL_TOKEN=CLOUDFLARE_TUNNEL

# ─── Grafana ───

GF_SECURITY_ADMIN_PASSWORD=admin
GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s/grafana/
GF_SERVER_SERVE_FROM_SUB_PATH=true